@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f1fbff;
}

.section-padding {
    padding: 100px 0;
}

#logo {
    height: 70px;
    width: 300px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

#slider-contents {
    position: absolute;
    top: 150px;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}



.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 30px;
    }

    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }
}

.backimage img {
    width: 100%;
    height: 400px;
    opacity: 0.6;
}

#contents {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contents h1,
#contents h3 {
    font-family: sans-serif;
    font-weight: 800;
}

.about img {
    border-radius: 15px;
}

.about h1 {
    padding: 20px 0px;
}

.about p {
    word-spacing: 5px;
    padding-bottom: 20px;
}

.copyright {
    height: 70px;
    width: 100%;
    position: relative;

}

.copyright img {
    height: 70px;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
}

.copyright .contents {
    position: absolute;
    color: white;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.card {
    background-color: transparent;
    outline: none;
    border: none;
}

.buttons {
    margin-top: 10px;
}